<body>

  <article>

    <div class="container" role="main">

      <h2>Write</h2>

      <form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">

        <div class="mb-3">

          <label for="title">제목</label>

          <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요"
            [(ngModel)]="board.biTitle">

        </div>



        <div class="mb-3">

          <label for="reg_id">작성자</label>

          <input type="text" class="form-control" name="reg_id" id="reg_id" placeholder="이름을 입력해 주세요"
            [(ngModel)]="board.biWriter">

        </div>



        <div class="mb-3">

          <label for="content">내용</label>

          <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요"
            [(ngModel)]="board.biContent"></textarea>

        </div>



        <div class="mb-3">

          <label for="tag">TAG</label>

          <input type="text" class="form-control" name="tag" id="tag" placeholder="태그를 입력해 주세요">

        </div>

        <div class="mb-3">

          <label for="tag">파일</label>

          <input type="file" (change)="getFiles($event)">

        </div>

      </form>

      <div style="float: right">
        <table>
          <tr>
            <td> <button type="button" class="btn  btn-secondary" (click)="doSave()">저장</button> </td>
            <td><button type="button" class="btn  btn-secondary" (click)="goPage('/board')">목록</button></td>
          </tr>

        </table>

      </div>

    </div>

  </article>

</body>